.humburger-icon {
    margin-right: 2rem;
    background: transparent;
    padding: 1rem;
    border-radius: 50%;
    color: grey;
    cursor: pointer;
    transition: .2s ease;
}
.humburger-icon:hover {
    background: rgb(233, 233, 233);
}
.humburger-icon:hover .categories {
    display: block;
}

.humburger-icon {
    position: relative;
}

.humburger-icon .categories {
    width: 12rem;
    height: fit-content;
    background: white;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: .2s ease;
    position: absolute;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 3;
    top: 2.5rem;
    left: 0rem;
    display: none;
}

.humburger-icon .categories:hover {
    border: 1px solid lightgrey;
}

.humburger-icon .categories ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.humburger-icon .categories ul li {
    width: 100%;
    padding: 6px 0 6px 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.humburger-icon .categories ul li:hover {
    background: rgb(235, 235, 235);
    cursor: pointer;
    transition: .1s ease;
}

.humburger-icon .categories ul li a {
    color: grey;
    text-decoration: none;
    font-family: arial;
    font-weight: 400;
}

/* Category ends  */



.cart-list {
    height: fit-content; 
    margin: 0 12rem;
}

.cart-list .cart-items-heading {
    width: 100%;
    height: 3rem;
    background: orangered;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    padding: 0 1.2rem;
    margin-bottom: 1rem;
}


.cart-list {
    margin: 0 12rem;
}

.cart-list .products-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart-list .products-list .product {
    background: rgb(229, 229, 229);
    width: 13rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding-top: .5rem;
    transition: .2s ease;
    position: relative;
}
.cart-list .products-list .product:hover {
    background: rgb(61, 61, 61);
    cursor: pointer;
    color: white;
}

.cart-list .products-list .product img {
    width: 12rem;
    height: 12rem;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-list .products-list .product .texts {
    padding: .5rem;
}

.close-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    background: orangered;
    color: white;
    display: none;
    transition: .2s ease;
}

.cart-list .products-list .product:hover .close-btn {
    display: block;
}

.close-btn:hover {
    background: rgb(255, 109, 56);
    cursor: pointer;
}